@import "../../mixins.scss";

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #fff;
  overflow-y: auto;
  & h1 {
    margin: 80px 0 50px 0;
    font-size: 2rem;
    font-weight: 600;
    margin: 20px;
    text-transform: capitalize;
  }
  & h2 {
    margin: 50px;
    text-transform: capitalize;
  }
  & .table {
    margin: 20px;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    & .titles {
      display: grid;
      grid-template: auto / repeat(4, 1fr);
      font-weight: 600;
      font-size: 18px;
      & li {
        margin: 0;
        list-style: none;
        border-radius: 0;
      }
    }
    & li {
      margin: 0;
      list-style: none;
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 4px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      & .row {
        width: 100%;
        display: grid;
        grid-template: auto / repeat(4, 1fr);
        grid-gap: 20px;
        & .cell {
          padding: 5px;
          justify-self: center;
          align-self: center;
        }
        & .btnForm {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          & button {
            @include btnStyles;
          }
          & .deleteBtn {
            background-color: #e93b3b;
            color: #fff;
            margin-right: 10px;
          }
        }
      }
      & span {
        text-decoration: none;
        color: #000;
      }
    }
  }
}
