.board {
  width: 100%;
  padding: 30px;
  & h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    & span {
      margin: 0 10px;
    }
  }
  & h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  & .content {
    & p {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 8px;
      & strong {
        font-weight: bold;
        text-transform: capitalize;
        margin-right: 5px;
      }
    }
  }
  & .listcontent {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    & .title {
      width: 100%;
      & h3 {
        padding: 30px 0;
        text-transform: capitalize;
        text-align: center;
      }
    }
    & .cardsContent {
      max-height: 500px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      overflow-y: auto;
    }
  }
}

@media (max-width: 470px) {
  .board {
    & .listcontent {
      & .cardsContent {
        max-height: none;
      }
    }
  }
}
