@import "../../../src/app/mixins.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  & .modalContent {
    padding: 20px 40px 40px;
    background-color: white;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    & .modalTopBtn {
      display: flex;
      justify-content: flex-end;
      & button {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        font-weight: bold;
        &:hover {
          color: red;
        }
      }
    }
    & .modalTitle {
      text-align: center;
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
    & .topForm {
      display: flex;
      justify-content: center;
      & form {
        width: 350px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        & .groupDate {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
        & input {
          padding: 5px;
          width: 100%;
          margin: 5px;
          height: 35px;
          border-radius: 5px;
        }
        & button {
          @include btnStyles;
        }
      }
    }
  }
}
