@import "../../../src/app/mixins.scss";

.modal {
  @include modalStyles;

  & .modalContent {
    padding: 30px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    & .modalTopBtn {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      & button {
        background-color: transparent;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        font-weight: bold;
        &:hover {
          color: red;
        }
      }
    }
    & .modalTitle {
      padding: 0 0 30px 0;
      text-align: center;
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: capitalize;
      & h2 {
        margin: 0;
      }
    }
    & .error {
      padding: 10px;
      color: #fff;
      background-color: rgb(233, 59, 59);
      font-weight: 600;
    }
    & h2 {
      margin-bottom: 20px;
      margin: 20px 0;
    }
    & .form {
      @include formStyles;

      & .btnRegister {
        @include btnStyles;
      }
    }
  }
}
