@mixin btnStyles {
  padding: 10px 20px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #2e2c2c;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: #2e2c2c;
    border: 1px solid #2e2c2c;
  }
}

@mixin modalStyles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  & .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    & .modalTopBtn {
      display: flex;
      justify-content: flex-end;
      & button {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        font-weight: bold;
        &:hover {
          color: red;
        }
      }
    }
    & .modalTitle {
      text-align: center;
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
  }
}

@mixin loaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
