@import "./mixins.scss";

:root {
  --primary-color: #10a37f;
  --secondary-color: #2d333a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  background: #fff;
  color: #2d333a;
  scroll-behavior: smooth;
}
