.sidebar {
  padding: 20px;
  width: 200px;
  height: 100vh;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  & ul {
    & li {
      padding: 10px;
      list-style: none;
      & a {
        color: #000;
        text-decoration: none;
        text-transform: capitalize;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
