@import "../../app/mixins.scss";

.cardsContainer {
  min-width: 400px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;

  & .card {
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 10px rgba(87, 87, 87, 0.2);
    border-radius: 8px;
    & p {
      & span {
        font-weight: bold;
      }
    }
    & .content {
      display: flex;
      flex-direction: column;
      & p {
        margin: 5px 0;
        & span {
          margin-right: 5px;
        }
      }
    }
    & .btnAdmin {
      display: flex;
      flex-direction: column;
      gap: 10px;
      & button {
        @include btnStyles;
      }
      & .btnInscribe {
        @include btnStyles;
        background-color: green;
      }
      & .deleteBtn {
        background-color: #e93b3b;
        color: #fff;
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 992px) {
  .cardsContainer {
    width: 80%;
  }
}

@media (max-width: 470px) {
  .cardsContainer {
    width: 100%;
    & .card {
      flex-direction: column;
    }
  }
}
