@import "../../mixins.scss";

.container {
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  & h1 {
    margin: 10px 0;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
  }
  & .topForm {
    & form {
      width: 350px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 15px;
      & input {
        width: 100%;
        padding: 6px;
        height: 40px;
        border: 1px solid #dddfe2;
        &:focus {
          outline: none;
          border: 1px solid var(--primary-color);
        }
      }
      & .groupDate {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        & .labelDate {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          & label {
            text-align: center;
            font-weight: bold;
          }
        }
      }
      & .fileInput {
        width: auto;
      }

      & button {
        @include btnStyles;
      }
    }
  }
  & .list {
    max-width: 1200px;
    width: 100%;
    text-align: center;
    & .listTitle {
      margin: 20px 0 50px 0;
      font-size: 24px;
      font-weight: bold;
      text-transform: capitalize;
    }
    & .cardsContainer {
      max-height: 500px;
      padding: 20px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;
      overflow-y: auto;
      & .card {
        max-width: 1200px;
        padding: 20px;
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        box-shadow: 0 0 10px rgba(87, 87, 87, 0.2);
        border-radius: 8px;
        & .textContent {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          & span {
            font-weight: bold;
            margin-right: 10px;
          }
          & p {
            margin: 4px 0;
          }
        }
        & .btnAdmin {
          display: flex;
          flex-direction: column;
          gap: 10px;
          & button {
            @include btnStyles;
          }
          & .btnInscribe {
            @include btnStyles;
            background-color: green;
          }
        }
        & .cardInfo {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    & .list {
      & .cardsContainer {
        & .card {
          width: 90%;
          & .textContent {
            & span {
              font-size: 14px;
            }
            & p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .container {
    & .list {
      & .cardsContainer {
        max-height: none;
        & .card {
          width: 100%;
          flex-direction: column;
        }
      }
    }
  }
}
