@import "../../mixins.scss";

.container {
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  & h1 {
    margin: 10px 0;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
  }
  & .topForm {
    & form {
      width: 300px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      & .groupDate {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      & input {
        padding: 5px;
        width: 100%;
        margin: 5px;
        height: 35px;
        border-radius: 5px;
      }
      & button {
        @include btnStyles;
      }
    }
  }
  & .list {
    width: 100%;
    text-align: center;
    & .listTitle {
      margin: 20px 0 50px 0;
      font-size: 24px;
      font-weight: bold;
      text-transform: capitalize;
    }
    & .cardsContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;
      & .card {
        padding: 20px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        border: 1px solid #2e2c2c;
        & .btnAdmin {
          display: flex;
          flex-direction: column;
          gap: 10px;
          & button {
            @include btnStyles;
          }
        }
        & .cardInfo {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }
}
